ul{
    list-style: none;
    @extend .typo;
}

.nav-main-menu{
    position: absolute;
    background-color: rgb(255, 123, 0.5);
    top: 0; bottom: 0; left: 0;
    width: 300px;
    height: 100%;
    margin-left: -150px;
    opacity: 0;
    transition: opacity 600ms ease-in-out, transform 600ms ease-in-out;
    &:hover{
        opacity: 1;
        cursor: pointer;
        transform: translateX(150px);
    }
}

.menu{
    position: absolute;
    top: 5%;
    left: 5%;
    @extend .typo;
    font-size: 2rem;
    color: white;
}



.main-menu{
    margin-top: 100px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: 500;
    font-size: 2rem;
    color: white;
    & li:hover{
        color: rgb(0, 0, 102);
        cursor: pointer;
        @include textshadow;

    }

}
