.typo, .menu2, h1, p, .menu, ul, .button-contact, .header-text {
  font-family: "Roboto", cursive;
}

.typography {
  font-family: "Pattaya", sans-serif;
}

figure {
  margin: 0;
}

.header {
  opacity: 0;
  animation: bye2 450ms ease-in-out;
  animation-delay: 3.5s;
  animation-fill-mode: forwards;
  margin-top: 5%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: ) {
  .header {
    width: 50%;
  }
}
.header-profile {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.header-profile-logo {
  width: auto;
  height: 500px;
  transition: transform 600ms ease-in-out;
  transform: rotate(0);
}
.header-profile-logo:hover {
  transform: rotate(380deg);
  cursor: pointer;
}
.header-profile-logo-img {
  height: 400px;
  width: auto;
}
.header-profile-photo {
  width: auto;
  height: 500px;
  overflow: hidden;
}
.header-profile-photo-img {
  height: 100%;
  width: auto;
}

.header-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 65%;
  text-align: center;
}

.email {
  text-decoration: none;
}

.button-contact {
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  background: linear-gradient(#d3556a, #53121b);
  border-radius: 40px;
  padding: 10px 40px;
  margin-top: 30px;
  box-shadow: 0 0 20px grey;
  transition: transform 450ms ease-in-out;
  transform: scale(1);
}
.button-contact:hover {
  cursor: pointer;
  transform: scale(1.15);
}

ul {
  list-style: none;
  padding: 0;
}

.link {
  text-decoration: none;
  color: white;
}
.link:hover {
  color: #00009e;
  cursor: pointer;
  text-shadow: 0 0 20px white;
}

.nav-main-menu {
  position: absolute;
  z-index: 2;
  background: linear-gradient(#e66465, #9198e5);
  top: 0;
  bottom: 0;
  left: 0;
  width: 300px;
  height: 150%;
  transform: translateX(-150px);
  opacity: 0;
  transition: opacity 450ms ease-in-out, transform 450ms ease-in-out;
}
.nav-main-menu:hover {
  opacity: 1;
  transform: translateX(0px);
}

.menu {
  position: relative;
  z-index: 1;
  width: 100px;
  padding: 5px;
  text-align: center;
  top: 20px;
  left: 50px;
  font-size: 2rem;
  color: white;
  background: linear-gradient(#e66465, #9198e5);
}
.menu:hover {
  cursor: pointer;
}

.main-menu {
  position: absolute;
  z-index: 4;
  margin-left: 40px;
  margin-top: 100px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: 500;
  font-size: 2rem;
  color: white;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

p {
  font-size: 1rem;
}

.loader {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transform: translateX(0px);
  animation: fondu 3s ease-in-out;
  animation-delay: 450ms;
  animation-fill-mode: forwards;
}
.loader-logo {
  width: 300px;
  height: auto;
  transform: rotate(0deg);
  animation: rotate 3s ease-in-out;
}

@keyframes fondu {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}
@keyframes bye {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(1000px);
    opacity: 0;
  }
}
@keyframes bye2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(380deg);
  }
}
.footer {
  margin-top: 50px;
  position: relative;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: black;
  color: #ffc6c6;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
.footer-menu {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.footer-menu li {
  width: 50px;
  transition: transform 450ms ease-in-out;
}
.footer-menu li:hover {
  cursor: pointer;
  color: #ff642c;
  transform: scale(1.15);
}

.link2 {
  color: #ffc6c6;
  transition: transform 450ms ease-in-out;
}
.link2:hover {
  cursor: pointer;
  color: #ff642c;
  transform: scale(1.15);
}

.menu2 {
  position: absolute;
  top: 5%;
  left: 100px;
  font-size: 2rem;
  color: black;
}

.title-right {
  position: fixed;
  margin-right: 5%;
  right: 0;
  font-size: 2rem;
  width: 20%;
  height: 500px;
  text-align: right;
}

.projets {
  margin-top: 20px;
  margin-left: 300px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.projet {
  width: 500px;
  height: 500px;
  margin: 20px;
  background-color: orangered;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.projet-background {
  width: 50%;
  height: 300px;
}
.projet-photo {
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
