.typo, .projet-photo-box-text, .projet-description, .menu2, h1, p, .menu, ul, .button-contact, .header-text {
  font-family: "Roboto", sans-serif;
}

.typo-fun {
  font-family: "Pattaya", sans-serif;
}

figure {
  margin: 0;
}

.header {
  opacity: 0;
  animation: bye2 450ms ease-in-out;
  animation-delay: 3.5s;
  animation-fill-mode: forwards;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header-profile {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.header-profile-logo {
  width: auto;
  height: 500px;
  transition: transform 600ms ease-in-out;
  transform: rotate(0);
  animation: jump 5s ease-in-out;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}
.header-profile-logo-img {
  height: 100%;
  width: auto;
}
.header-profile-photo {
  width: auto;
  height: 500px;
  overflow: hidden;
}
.header-profile-photo-img {
  height: 100%;
  width: auto;
}

@keyframes jump {
  0% {
    transform: scaleY(0.9);
    transform: translateY(50px);
  }
  20% {
    transform: scaleY(1.1);
    transform: translateY(200px);
  }
  40% {
    transform: scaleY(0.9);
    transform: translateY(-100px);
  }
  60% {
    transform: scaleY(1.1);
  }
  80% {
    transform: scaleY(0.9);
  }
  100% {
    transform: scaleY(1);
  }
}
.header-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 65%;
  text-align: center;
}

.email {
  text-decoration: none;
}

.button-contact {
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  background: linear-gradient(#d3556a, #53121b);
  border-radius: 40px;
  padding: 10px 40px;
  margin-top: 30px;
  box-shadow: 0 0 20px grey;
  transition: transform 450ms ease-in-out;
  transform: scale(1);
}
.button-contact:hover {
  cursor: pointer;
  transform: scale(1.15);
}

ul {
  list-style: none;
  padding: 0;
}

.link {
  text-decoration: none;
  color: white;
}
.link:hover {
  color: #00009e;
  cursor: pointer;
  text-shadow: 0 0 20px white;
}

.nav-main-menu {
  position: absolute;
  z-index: 2;
  background: linear-gradient(#64e69f, #ffc6c6, white);
  top: 0;
  bottom: 0;
  left: 0;
  width: 300px;
  height: 120%;
  transform: translateX(-150px);
  opacity: 0;
  transition: opacity 450ms ease-in-out, transform 450ms ease-in-out;
}
.nav-main-menu:hover {
  opacity: 1;
  transform: translateX(0px);
}

.menu {
  position: relative;
  z-index: 1;
  width: 100px;
  padding: 5px;
  text-align: center;
  top: 20px;
  left: 20px;
  font-size: 2rem;
  color: white;
  opacity: 0;
  background: linear-gradient(#64e69f, #ffc6c6);
  animation: bye2 3s ease-in-out;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}
.menu:hover {
  cursor: pointer;
}

.main-menu {
  position: absolute;
  z-index: 4;
  margin-left: 40px;
  margin-top: 100px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: 500;
  font-size: 2rem;
  color: white;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
}

p {
  font-size: 1rem;
}

.loader {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transform: translateX(0px);
  animation: fondu 3s ease-in-out;
  animation-delay: 450ms;
  animation-fill-mode: forwards;
}
.loader-logo {
  width: 300px;
  height: auto;
  transform: rotate(0deg);
  animation: rotate 3s ease-in-out;
}

@keyframes fondu {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}
@keyframes bye {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(1000px);
    opacity: 0;
  }
}
@keyframes bye2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(380deg);
  }
}
.footer {
  position: relative;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: #ffc6c6;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
.footer-page {
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: #ffc6c6;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
.footer ul {
  margin: 0;
}
.footer-menu {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.footer-menu li {
  width: 50px;
  height: 40px;
  transition: transform 450ms ease-in-out;
}
.footer-menu li:hover {
  cursor: pointer;
  color: #ff642c;
  transform: scale(1.15);
}

.link2 {
  color: black;
  transition: transform 450ms ease-in-out;
}
.link2:hover {
  cursor: pointer;
  color: #ff642c;
  transform: scale(1.15);
}

.title-page {
  font-size: 2rem;
}
.title-page span {
  color: silver;
}

.header-page {
  width: 100%;
  height: 150px;
}

.menu2 {
  position: absolute;
  top: 5%;
  left: 100px;
  font-size: 2rem;
  color: black;
}

.title-right {
  position: absolute;
  margin-right: 5%;
  right: 0;
  font-size: 1rem;
  width: 50%;
  height: 300px;
  text-align: right;
}

.projets {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.projet {
  width: 350px;
  height: 350px;
  margin: 20px;
  background: linear-gradient(#64e69f, #ffffff);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
  transform: translateY(-400px);
  animation: come 2s ease-in-out;
  animation-fill-mode: forwards;
}
.projet-background {
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.projet-description {
  height: 80px;
}
.projet-photo {
  width: 100%;
  height: 250px;
  transform: scale(1);
  opacity: 1;
  transition: transform 450ms ease-in-out, opacity 450ms ease-in-out;
}
.projet-photo:hover {
  cursor: pointer;
  transform: scale(1.2);
  opacity: 0.2;
}
.projet-photo-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #ffc6c6;
}
.projet-photo-box-text {
  position: absolute;
  z-index: -1;
  height: 250px;
  opacity: 0;
  transition: opacity 450ms ease-in-out;
}
.projet-photo-box-text:hover {
  cursor: pointer;
  opacity: 1;
}

@keyframes come {
  0% {
    transform: translateY(-400px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.projet:nth-child(1) {
  animation-delay: 450ms;
}

.projet:nth-child(2) {
  animation-delay: 900ms;
}

.projet:nth-child(3) {
  animation-delay: 300ms;
}

.projet:nth-child(4) {
  animation-delay: 600ms;
}

.images {
  width: 100%;
  background: linear-gradient(#64e69f, white);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.image-background {
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.image-box {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.image-box-photo {
  width: 400px;
  height: 100%;
}

/*# sourceMappingURL=style.css.map */
