
h1{
    @extend .typo;
}
.title-page{
    font-size: nth($font-size, 5);
    & span{
    color: $colour-light-gray;
}
}
.header-page{
    width: 100%;
    height: 150px;
}
.menu2{
    position: absolute;
    top: 5%;
    left: 100px;
    @extend .typo;
    font-size: 2rem;
    color: rgb(0, 0, 0);
}
.title-right{
    position: absolute;
    margin-right: 5%;
    right: 0;
    font-size: 1rem;
    width: 50%;
    height: 300px;
    text-align: right;
}
.projets{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.projet{
    width: 350px;
    height: 400px;
    margin: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
    transform: translateY(-400px);
    animation: come 2s ease-in-out;
    animation-fill-mode: forwards;
    
    &-background{
        height: 400px;
        width: 350px;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    &-description{
        @extend .typo;
        font-weight: 700;
        height: 70px;
        text-align: center;
        & span{
            font-size: nth($font-size, 2);
            color: black;
        }
        
    }
    &-photo{
        height: 120%;
        transition: transform 450ms ease-in-out, opacity 450ms ease-in-out;
        &:hover{
        cursor: pointer;
        transform: scale(1.2);
        opacity: 0.2; 
        & + .projet-photo-box-text{
            opacity: 1;
        }
        }
        &-box{
            width: 100%;
            height: 300px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            background-color: $color-nude;
           
            &-text{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                color : black;
                width: 50%; height: 15px;
                @extend .typo;
                font-size: nth($font-size, 2);
                font-weight: bold;
                position: absolute; 
                z-index: 1;
                opacity: 0;
                transition: opacity 450ms ease-in-out;
                &:hover{
                    opacity: 1;
                }
                &:hover .projet-photo{
                    cursor: pointer;
                    transform: scale(1.2);
                    opacity: 0.2; 
                }
            }
        }
    }
}

@keyframes come{
    0%{
        transform: translateY(-400px);
        opacity: 0;
        
    }
   
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

.projet:nth-child(1){
    animation-delay: 450ms;
    
}
.projet:nth-child(2){
    animation-delay: 900ms;
    
}
.projet:nth-child(3){
    animation-delay: 300ms;
    
}
.projet:nth-child(4){
    animation-delay: 600ms;
    
}

.projet-photo2{
    width: 100%;
    transform: scale(1);
    opacity: 1;
    transition: transform 450ms ease-in-out, opacity 450ms ease-in-out;
    &:hover{
    cursor: pointer;
    transform: scale(1.2);
    opacity: 0.2;
        & + .projet-photo-box-text{
            opacity: 1;
        }
    
    }
    &-box2{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: $color-nude;
}
}
.bloc-paintings{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.bloc-painting{
    @include mobile{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    width: 80%;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    &-presentation{
        @include mobile{
            width: 100%;
            height: 350px;
        }
        width: 70%;
        height: 450px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        animation: slide 2s ease-in-out;
        animation-delay: 450ms;
        animation-fill-mode: forwards;
    }
    &-landscape{
        @include mobile{
            width: 100%;
            height: 300px;
        }
        height: 400px;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
    &-img{
        height: 100%;
        z-index:1;
        transition: transform 450ms ease-in-out;
        &:hover{
            cursor: pointer;
            transform: scale(1.2);

        }
    }
    &-description{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        @extend .typo;
        font-size: nth($font-size,1);
        width: 100%;
        
        color: black;
        & span{
            color: black;
            font-style: italic;
            font-size: nth($font-size,3);
        }
    }
}
}
.bloc-painting{
    &-portrait{
    margin-left: 20px;
    height: 400px;
    width: 100%;
    }
    &-insitu{
        animation: slide2 2s ease-in-out;
        animation-delay: 450ms;
        animation-fill-mode: forwards;
    @include mobile{
        display: none;
    }
    width: 35%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &-img{
    @include mobile{
    display: none;
    }
    height: 120%;
}
}
}

@keyframes slide{
    0%{
        opacity: 0;
        transform: translateX(-500px);
    }
    90%{
        opacity: 0.8;
        transform: translateX(50px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slide2{
    0%{
        opacity: 0;
        transform: translateY(-500px);
    }
    90%{
        opacity: 0.8;
        transform: translateY(50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
