$colour-white: white;
$colour-shadow: gray;
$colour-darkshadow: rgb(59, 59, 59);
$color-neutral: rgb(236, 236, 236);
$color-neutral-lighter: rgb(245, 245, 245);
$color-trend: #FF79DA ;
$color-trend-lighten: #f896dc ;
$color-trend-darken: #9549d3;
$color-trend-soft: #b467f3;
$color-new: #99E2D0;
$color-new-darker: #0c8347;

$breakpoints: (desktop: 900px);

